<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0">
                <video id="videoPlayer" class="w-100" height="450px" src="/video" controls>
                </video>
                <div class="mt-2">
                    <button id="skipBackward" class="btn btn-warning mr-2 float-start"> &lt;&nbsp;10s</button>
                    <button id="skipForward" class="btn btn-warning float-end">10s&nbsp;&gt;</button>
                </div>
            </div>
        </div>
        <div class="row border-top pt-2">
            <div class="col-8 p-0">
                <form id="form" class="row">
                    <div class="col-8">
                        <input minlength="1" maxlength="500" placeholder="Leave a Message Here" class="form-control bg-info text-light" type="text" id="msg" autofocus autocomplete="off" />
                    </div>
                    <div class="col-4">
                        <input class="btn btn-warning" type="submit" value="Send" />
                        <button type="button" class="btn btn-danger">
                            <span id="unreadBadge" class="badge badge-light">0</span>
                        </button>
                    </div>
                </form>
                <div id="log" class="p-2 text-light"></div>
            </div>
            <div class="col-4 p-0">
                <!-- list of videos -->
                <form id="upload-video-form" class="form" action="POST">
                    <input autofocus autocomplete="off" id="video-url" class="form-control text-light bg-info" type="text" placeholder="Video URL"/>
                    <input type="submit" class="mt-2 btn btn-warning">
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var Sender = {{.Name}};
        if(name !=undefined){
            console.log("welcome home "+ Sender);
        }

        var unreadMessages = 0;
        function sendAccessTokenRequest() {
            fetch('/auth/update', {
                method: 'POST',
                credentials: 'include',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => {
                if (response === null) {
                    console.log('No response from server');
                    return;
                }
                return true;
            })
            .catch(error => {
                console.log('Error refreshing token:', error);
            });
        }
        sendAccessTokenRequest();
        var JWTTime = {{.JWTTime}};
        if (JWTTime!=undefined && JWTTime>=2){
            setInterval(sendAccessTokenRequest, JWTTime*60000);
        }else{
            setInterval(sendAccessTokenRequest, 5000);
        }


        var msg = document.getElementById("msg");
        var log = document.getElementById("log");
        function appendLog(item) {
            log.insertBefore(item, log.firstChild);
        }
        function Chat () {
            var conn;
            document.getElementById("form").onsubmit = function () {
                if (!conn) {
                    return false;
                }
                if (!msg.value) {
                    return false;
                }
                let request = {
                    "sender": Sender,
                    "body": msg.value,
                };
                conn.send(JSON.stringify(request));
                msg.value = "";
                return false;
            };
        
            if (window["WebSocket"]) {
                conn = new WebSocket("ws://" + document.location.host + "/chat/ws");
                conn.onclose = function (evt) {
                    var item = document.createElement("div");
                    item.innerHTML = "<b>Connection closed.</b>";
                    appendLog(item);
                };
                conn.onmessage = function (evt) {
                    var data = JSON.parse(evt.data);
                    if (Array.isArray(data)) {
                        for (var i = 0; i < data.length; i++) {
                            appendMessage(data[i]);
                        }
                    } else {
                        appendMessage(data);
                    }
                };
            } else {
                var item = document.createElement("div");
                item.innerHTML = "<b>Your browser does not support WebSockets.</b>";
                appendLog(item);
            }
        };
        Chat();

        function appendMessage(data) {
            if (data ==null){
                return;
            }
            var date = new Date(data.CreatedAt);
            var time = date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
            var formattedMessage = "<span class='text-secondary'>" + time + "&nbsp;<b>" + data.Sender.charAt(0).toUpperCase() + data.Sender.slice(1) + "</b>:</span>&nbsp;<b style='font-size:18px;'>"+ data.Body+"</b>" ;
            var item = document.createElement("div");
            item.innerHTML = formattedMessage;
            appendLog(item);
            unreadMessages++;
            document.getElementById("unreadBadge").textContent = unreadMessages;
        }


            
        var videoPlayer = document.getElementById('videoPlayer');
        videoPlayer.muted = true;

        var skipBackwardButton = document.getElementById('skipBackward');
        var skipForwardButton = document.getElementById('skipForward');
        var FinalPause = true;
        videoPlayer.addEventListener('pause', function() {
            sendVideoStatus(true, this.currentTime);
            FinalPause = true
        });

        videoPlayer.addEventListener('play', function() {
            sendVideoStatus(false, this.currentTime);
            FinalPause = false
        });

        videoPlayer.addEventListener('seeked', function() {
            var isPaused = this.paused;
            sendVideoStatus(isPaused, this.currentTime);
        });

        skipBackwardButton.addEventListener('click', function() {
            videoPlayer.currentTime -= 10;
        });

        skipForwardButton.addEventListener('click', function() {
            videoPlayer.currentTime += 10;
        });

        function sendVideoStatus(isPaused, currentTime) {
            var hours = Math.floor(currentTime / 3600);
            var minutes = Math.floor((currentTime % 3600) / 60);
            var seconds = Math.floor(currentTime % 60);
            var timeline = hours + ":" + minutes + ":" + seconds;

            fetch('/video/set', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    pause: FinalPause,
                    timeline: timeline,
                    user: Sender, 
                }),
            })
            .then(response => response)
            .catch((error) => {
                console.error('Error:', error);
            });
        }
        setInterval(() => {
            sendVideoStatus(videoPlayer.isPaused, videoPlayer.currentTime);
        }, 5000); //TODO: Get This from User



        // Fetch video status
        function fetchVideoStatus() {
            fetch('/video/get', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    user: Sender, 
                }),
            })
            .then(response => response.json())
            .then(data => {
                //var videoPlayer = document.getElementById('videoPlayer');
                var timeline = data.timeline.split(':');
                var hours = parseInt(timeline[0]);
                var minutes = parseInt(timeline[1]);
                var seconds = parseInt(timeline[2]);
                var timeInSeconds = hours * 3600 + minutes * 60 + seconds;
                
                videoPlayer.currentTime = timeInSeconds;
                FinalPause = data.pause;
                if (data.pause) {
                    console.log("pause the video")
                } else {
                    console.log("play the video")
                    videoPlayer.play();
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
        
        fetchVideoStatus();


    document.getElementById('upload-video-form').addEventListener('submit', function(event) {
            event.preventDefault();

            // Generate a UUID
            let uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                let r = Math.random() * 16 | 0, v = c === 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });

            // Get the video URL
            let videoUrl = document.getElementById('video-url').value;

            // Send the POST request
            fetch('/video/upload', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    url: videoUrl,
                    uuid: uuid
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);

                // Check the upload status
                setInterval(function() {
                    fetch('/video/upload-status', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            uuid: uuid
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                    });
                }, 5000);  // Check every 5 seconds
            });
        });
    </script>
</body>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/main.js"></script>
</html>