<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0">
                <video id="videoPlayer" class="w-100" height="450px" src="/static/video/1.mp4" controls>
                </video>
            </div>
        </div>
        <div class="row border-top pt-2">
            <div class="col-8 p-0">
                <form id="form" class="row">
                    <div class="col-8">
                        <input minlength="1" maxlength="500" placeholder="Leave a Message Here" class="form-control bg-info text-light" type="text" id="msg" autofocus autocomplete="off" />
                    </div>
                    <div class="col-4">
                        <input class="btn btn-warning" type="submit" value="Send" />
                    </div>
                </form>
                <div id="log" class="p-2 text-light"></div>
            </div>
            <div class="col-4 p-0">list of video</div>
        </div>
    </div>

    <script type="text/javascript">
        var Sender = {{.Name}};
        if(name !=undefined){
            console.log("welcome home "+ Sender);
        }

        function sendAccessTokenRequest() {
            // console.log("sent a access token request");
            fetch('/auth/update', {
                method: 'POST',
                credentials: 'include',
                headers: {
                    'Content-Type': 'application/json',
                    // 'JWT-Token':'access',
                },
            })
            .then(response => {
                if (response === null) {
                    console.log('No response from server');
                    return;
                }
                // console.log("got update response");
                return true;
            })
            .catch(error => {
                console.log('Error refreshing token:', error);
            });
        }
        sendAccessTokenRequest();
        var JWTTime = {{.JWTTime}};
        if (JWTTime!=undefined && JWTTime>=2){
            setInterval(sendAccessTokenRequest, JWTTime*60000);
            console.log("JWT if case")
        }else{
            console.log("JWT else case")
            setInterval(sendAccessTokenRequest, 5000);
        }


        function Chat () {
            var conn;
            var msg = document.getElementById("msg");
            var log = document.getElementById("log");

            function appendLog(item) {
                // var doScroll = log.scrollTop > log.scrollHeight - log.clientHeight - 1;
                // log.appendChild(item);
                // if (doScroll) {
                //     log.scrollTop = log.scrollHeight - log.clientHeight;
                // }
                log.insertBefore(item, log.firstChild);
            }
        
            document.getElementById("form").onsubmit = function () {
                if (!conn) {
                    return false;
                }
                if (!msg.value) {
                    return false;
                }
                let request = {
                    "sender": Sender,
                    "body": msg.value,
                };
                conn.send(JSON.stringify(request));
                msg.value = "";
                return false;
            };
        
            if (window["WebSocket"]) {
                conn = new WebSocket("ws://" + document.location.host + "/chat/ws");
                conn.onclose = function (evt) {
                    var item = document.createElement("div");
                    item.innerHTML = "<b>Connection closed.</b>";
                    appendLog(item);
                };
                conn.onmessage = function (evt) {
                // Parse the JSON data
                var data = JSON.parse(evt.data);
    
                var date = new Date(data.CreatedAt);
                var time = date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
                
                var formattedMessage = "<span style='color:red'>" + time + "</span> <b>" + data.Sender + "</b> Said: " + data.Body;
                
                var item = document.createElement("div");
                item.innerHTML = formattedMessage;
                
                appendLog(item);
            };
            } else {
                var item = document.createElement("div");
                item.innerHTML = "<b>Your browser does not support WebSockets.</b>";
                appendLog(item);
            }
        };
        Chat();
    </script>
</body>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/main.js"></script>
</html>