<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0">
                <video id="videoPlayer" class="w-100" height="450px" src="/static/video/1.mp4" controls>
                </video>
            </div>
        </div>
        <div class="row border-top pt-2">
            <div class="col-8 p-0">
                <form id="form" class="row">
                    <div class="col-8">
                        <input placeholder="Leave a Message Here" class="form-control bg-info text-light" type="text" id="msg" autofocus autocomplete="off" />
                    </div>
                    <div class="col-4">
                        <input class="btn btn-warning" type="submit" value="Send" />
                    </div>
                </form>
                <div id="log" class="p-2 text-light"></div>
            </div>
            <div class="col-4 p-0">list of video</div>
        </div>
    </div>

    <script type="text/javascript">
        var name = "Hana" //TODO: Get this from user.
        function Chat () {
            var conn;
            var msg = document.getElementById("msg");
            var log = document.getElementById("log");
        
            function appendLog(item) {
                var doScroll = log.scrollTop > log.scrollHeight - log.clientHeight - 1;
                log.appendChild(item);
                if (doScroll) {
                    log.scrollTop = log.scrollHeight - log.clientHeight;
                }
            }
        
            document.getElementById("form").onsubmit = function () {
                if (!conn) {
                    return false;
                }
                if (!msg.value) {
                    return false;
                }
                
                conn.send(msg.value);
                msg.value = "";
                return false;
            };
        
            if (window["WebSocket"]) {
                conn = new WebSocket("ws://" + document.location.host + "/chat/ws");
                console.log(conn)
                conn.onclose = function (evt) {
                    var item = document.createElement("div");
                    item.innerHTML = "<b>Connection closed.</b>";
                    appendLog(item);
                };
                conn.onmessage = function (evt) {
                    var messages = evt.data.split('\n');
                    for (var i = 0; i < messages.length; i++) {
                        var item = document.createElement("div");
                        item.innerText = messages[i];
                        appendLog(item);
                    }
                };
            } else {
                var item = document.createElement("div");
                item.innerHTML = "<b>Your browser does not support WebSockets.</b>";
                appendLog(item);
            }
        };
        Chat();
    </script>
</body>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/main.js"></script>
</html>